[[redirects]]
    from = "/"
    to = "/index.html"
    status = 200

[[redirects]]
    from = "/index.html"
    to = "/index.html"
    status = 200

[[redirects]]
    from = "/*"
    to = "/404.html"
    status = 404
    
